.borderbottom {
    border-bottom: 1px solid #bbb;
}

span.mute {
    color: #444;
    font-weight: 100;
}

span.sub, p.sub, div.sub {
    color: #777;
    font-weight: 100;
    font-size: 1rem;
}

div.header span#name {
    font-weight: 300;
    font-size: 4em;
}

div.header span#text {
    font-weight: 400;
    font-size: 2em;
    color: #bbb;
}

div.header {
    margin-bottom: 2rem;
}

ul.menu {
    background-color: rgb(231, 231, 231);
}

ul.menu a {
    color: rgb(94, 94, 94);
}

ul.menu a:hover, a.is-active {
    background: #1779ba;
    color: #fefefe;  
}

.justify p {
    text-align: justify
}

.right {
    text-align: right;
}

figure {
   padding: 5px;
   border: 2px #ddd solid;
   display: inline-table;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    color: #777;
    text-align: justify;
}

code {
    border: none;
    background: transparent;
}

pre {
    margin: 0;
}

pre code {
    margin-bottom: 1rem;
}