--- 
layout: default
keywords: ChrisK91, ChrisK, ChrisK91.me, image processing, image analysis for life scientists
comments: true
---
<div class="grid-container">
  <div class="grid-x grid-padding-x" itemscope="" itemtype="http://schema.org/Blog">
    <div class="cell medium-9">
      <h1 class="borderbottom">Posts</h1>
      <h6 class="subheader right"><a class="button secondary" href="/pages/tags">browse by category</a></h6>

      {% for post in paginator.posts %}
      <div itemprop="blogPost" itemscope="" itemtype="http://schema.org/BlogPosting">
        <a href="{{ post.url }}" itemprop="url">
          <h3 itemprop="name">{{ post.title }}</h3>
        </a>
        <h6 class="subheader right">{{ post.date | date_to_string }},
          <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}"></span>
        </h6>
        <div itemprop="description">{%if post.blurb != nil %}{{ post.blurb | markdownify }}{%endif%}</div>
        <p class="right">
          <a href="{{ post.url }}">Read more!</a>
        </p>
        <hr />
      </div>
      {% endfor %}

      {% include paginator.html %}
    </div>
    <div class="cell auto sidepanel">
      <h1 class="borderbottom">&nbsp;</h1>
      <h5>Social</h5>
      <a href="https://www.twitter.com/ChrisK91" class="button expanded">Twitter: @ChrisK91</a>

      <h5>Scientific</h5>
      <a href="/tools/correlation-shift.html" class="button expanded">Correlation Shift</a>
      <a href="https://chrisk91.me/ekgApp/" class="button expanded primary">ECG Visualizer</a>

      <h5>Anki</h5>
      <a href="https://ankiweb.net/shared/info/181219369" class="button expanded">CardHeatmap Anki-Addon</a>
      <a href="{% post_url 2018-09-19-Basic-CSS-Template-for-Anki %}" class="button expanded">Anki CSS Template</a>

      <h5>Apps</h5>
      <a href="/CWSRestart/" class="button expanded secondary">CWSRestart (on hold)</a>
      <a href="https://www.microsoft.com/store/apps/9N21NC5Q4PZ8?cid=homepage" class="button expanded">DrinkEnough</a>
      <a href="https://www.microsoft.com/store/apps/9NSS46MNH6ZG?cid=homepage" class="button expanded">Camera Transfer</a>

    </div>
  </div>
</div>