---
layout: default
---
<div class="row">
  <div class="medium-9 columns">
    <h1 class="borderbottom">Posts</h1>
    {% for post in site.posts %}
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        <h6 class="subheader right">{{ post.date | date_to_string }}</h6>
        {%if post.blurb != nil %}{{ post.blurb }}{%endif%}
        <p class="right"><a href="{{ post.url }}">Read more!</a></p>
        <hr />
    {% endfor %}
  </div>
  <div class="medium-3 columns sidepanel">
    <h1 class="borderbottom">Links</h1>
    <a href="https://www.twitter.com/ChrisK91" class="button expanded secondary">@ChrisK91</a>
    <a href="http://chrisk91.github.io/CWSRestart/" class="button expanded secondary">CWSRestart (on hold)</a>
    <a href="http://www.windowsphone.com/s?appid=0cffd571-0009-4816-a6be-67757f3be7c9" class="button expanded secondary">DrinkEnough</a>
  </div>
</div>
