{{ define "main" }}
<div class="p-2 md:pt-16 xl:pt-32 md:pl-8 xl:pl-32 2xl:pl-48 mt-4 mb-8 bg-white shadow-lg md:p-8">
    <div class="prose lg:prose-xl" id="content">
        <h1>{{ .Title }}</h1>
        <p><em>The page you're looking for was not found.</em></p>
        <p class="text-bluemedium"><small>If you've followed a link from another page this might be due to me updating
                the site. If you send me a message or leave a comment on the correct article I'll update the redirects
                so that future visitors will be directed to the right article.

                You can find my contact information in the header.
            </small></p>
    </div>
</div>
{{ end }}