<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.typekit.net/wcp3hcc.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
    {{ with (templates.Defer (dict "key" "global")) }}
        {{ partial "css.html" . }}
    {{ end }}
    <title>{{ if .IsHome }}Home - {{ else }}{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ end }}{{ .Site.Title }}</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <script defer src="https://analytics.chrisk91.me/script.js" data-website-id="5a247147-998a-4f84-a2a4-e5215f899bf4" data-do-not-track="true"></script>
</head>
