<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title == nil %}ChrisK91's personal site{% else %}{{ page.title }} | ChrisK91{% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns header">
        <span id="name">ChrisK91</span><span id="text">.me</span><br /><span class="sub show-for-medium">All kinds of ramblings &hellip;</span>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns header">
        <ul class="vertical medium-horizontal menu">
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url %}
                {% assign current = 'active' %}
            {% endif %}
            <li>
                <a href="{{ link.url }}" class="{{ current }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {{ content }}

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.js"></script>
  </body>
</html>