<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42314518-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42314518-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title == nil %}ChrisK91's personal site{% else %}{{ page.title }} | ChrisK91{% endif %}</title>
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">

    <link rel="stylesheet" href="/css/styles/github.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell medium-9 medium-centered header">
          <span id="name">ChrisK91</span><span id="text">.me</span><br /><span class="sub show-for-medium">All kinds of ramblings &hellip;</span>
        </div>
      </div>

      <div class="grid-x">
        <div class="cell large-12 header">
          <ul class="vertical medium-horizontal menu">
            {% for link in site.navigation %}
              {% assign current = nil %}
              {% if page.url == link.url %}
                  {% assign current = 'is-active' %}
              {% endif %}
              <li class="{{ current }}">
                  <a href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {{ content }}

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    {% if page.comments %}
    <script id="dsq-count-scr" src="//http-chrisk91-me.disqus.com/count.js" async></script>
    {% endif %}
  </body>
</html>