---
layout: default
---
<div class="row">
    <div class="large-8 medium-12 large-centered columns justify" itemscope="" itemtype="http://schema.org/BlogPosting">
        <h1 class="borderbottom" itemprop="name">{{ page.title }}</h1>
        <h6 class="subheader right"><time class="published" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time></h6>
        {% if page.blurb %}
            <div class="sub" itemprop="description">{{ page.blurb | markdownify }}</div>
        {% endif %}
        {% if page.keypoints %}
        <div class="callout small keypoints">
            <h6>Keypoints:</h6>
            {{ page.keypoints | markdownify }}
        </div>
        {% endif %}
        <article itemprop="articleBody">
        {{ content }}
        </article>
    </div>
</div>